@font-face {
  font-family: "Fredericka";
  font-style: regular;
  src: url("font/FrederickatheGreat-Regular.ttf");
}
@font-face {
  font-family: "Creative Lettering";
  font-style: regular;
  src: url("font/Creative\ Lettering.otf");
}
@font-face {
  font-family: "Neolatina-gnx5";
  font-style: regular;
  src: url("font/NeoLatina-gnx5.ttf");
}
@font-face {
  font-family: "Vonique 64";
  font-style: regular;
  src: url("font/Vonique\ 64.ttf");
}

/*  TEMPLATE  */
html {
  height: 100%;
  font-family: Cormorant-Light, Arial, Helvetica, sans-serif;
  color: #4a4746;
}
header {
  display: flex;
  position: fixed;
  height: 100%;
  width: 12%;
}
@media screen and (max-width: 580px) {
  header {
    width: 100%;
    height: 7%;
  }
}

.nav {
  height: 100%;
  width: 100%;
  align-self: center;
}
@media screen and (max-width: 580px) {
  .nav {
    flex-direction: row;
  }
}
@media screen and (max-width: 580px) {
  .nav_burger {
    display: flex;
    height: 100%;
  }
}

.nav_device_laptop {
  height: 100%;
  width: 100%;
}

#display-none {
  display: none;
}
.welcome_btn {
  height: 35%;
  align-self: center;
}

@media screen and (max-width: 580px) {
  .welcome_btn {
    height: 100%;
  }
}

.fab {
  font-size: xxx-large;
  margin-top: 60%;
}

@media screen and (max-width: 580px) {
  .fab {
    margin-top: 4px;
  }
}

.fas {
  font-size: xx-large;
}

.nav_burger {
  height: 30%;
  line-height: 3;
  list-style-type: none;
  padding: 0;
  align-self: center;
}

.nav-link {
  display: flex;
}

.nav-link,
.welcome_btn {
  color: black;
}

body {
  height: 100%;
}

#overlay {
  height: 100em;
  background-color: black;
  display: flex;
  position: absolute;
  z-index: 1001;
  width: 100%;
  left: 0;
  -webkit-animation: fade-out 4s ease-out both;
  animation: fade-out 4s ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

main {
  width: 88%;
  height: 100%;
  float: right;
  flex-direction: row;
}
@media screen and (max-width: 580px) {
  main {
    width: 100%;
    padding-top: 20%;
  }
}

.container {
  padding: 0;
  max-width: 100%;
}

@media screen and (max-width: 580px) {
  .container {
    height: 100%;
  }
}

/* HOME VIEW */
.image_instagram {
  position: relative;
  width: 100%;
}
.img-home {
  padding: 0;
  min-width: 100%;
  min-height: 15em;
  max-height: 42em;
  max-width: 100%;
}

@media screen and (max-width: 580px) {
  .img-home {
    visibility: hidden;
  }
}

#author_name {
  font-family: Creative Lettering, Fredericka, Cormorant-Light;
  position: absolute;
  top: 45%;
  text-align: center;
  width: 100%;
  font-size: 5rem;
  white-space: nowrap;
  letter-spacing: 0.5em;
  -webkit-animation: author_name 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: author_name 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@media screen and (max-width: 580px) {
  #author_name {
    font-size: 3rem;
  }
}

@-webkit-keyframes author_name {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes author_name {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.edito {
  margin: 0;
}

.author_description {
  padding: 8%;
  font-family: cursive, "Courier New", Courier, monospace;
  margin: auto;
}
.set_images {
  width: 100%;
  display: flex;
  padding-top: 5%;
  place-content: space-evenly;
  margin-bottom: 20%;
}

@media screen and (max-width: 580px) {
  .set_images {
    margin: auto;
  }
}

.figure {
  width: auto;
  margin-bottom: 30px;
  height: 13.4em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transform: scale(1);
  transition: display 600ms, transform 600ms;
}

@media screen and (max-width: 580px) {
  .figure {
    width: 100%;
    height: 15em;
    margin: 5px;
  }
}

.figure:hover {
  transform: scale(1.3);
}

@media screen and (max-width: 580px) {
  .figure:hover {
    transform: unset;
  }
}

.figure figcaption {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 48.5%;
  left: 3%;
  width: 23em;
  height: 8em;
  display: none;
  padding-left: 3%;
}

@media screen and (max-width: 580px) {
  .figure figcaption {
    color: #e3e3e3;
    display: unset;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5494572829131652) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    width: 95%;
    top: 53%;
    left: 2%;
    height: 9em;
  }
}

@media screen and (max-width: 580px) {
  .title-caption {
    margin-top: 11%;
  }
}

.figure:hover figcaption {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5494572829131652) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  display: initial;
  transition: display 400ms;
}

@media screen and (max-width: 580px) {
  .figure:hover figcaption {
    transform: unset;
    background: unset;
  }
}

.figure-img {
  height: 100%;
}

@media screen and (max-width: 580px) {
  .figure-img {
    width: 100%;
    margin-top: 10px;
  }
}

.modal-dialog {
  font-family: cursive, "Courier New", Courier, monospace;
}

/* BLOG VIEW */

.title_blog {
  text-align: center;
  font-family: Ubuntu-Bold;
  font-weight: bold;
  font-size: 30px;
  color: #403866;
  text-transform: uppercase;
}

.content_body {
  margin-top: 7%;
}

.carousel-caption {
  position: absolute;
  bottom: 0%;
  left: 60%;
  width: 40%;
  height: 100%;
  color: #4f5c79;
}

.carousel-img {
  width: 100%;
  height: 100%;
}

.carousel_img {
  padding: 2%;
  margin: 1%;
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 36px 1px rgb(0 0 0 / 57%);
  background-color: #d3d3d37a;
}

.carousel-control-next-icon {
  color: black;
}

.carousel-control-next {
  margin-right: 41%;
}
.carousel-control {
  top: 64%;
}

.carousel-control span {
  background-color: #434242;
  border-radius: 10px;
}

.like_activity {
  display: flex;
  width: 50%;
  margin: auto;
  margin-top: 4%;
}

.notations {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 26px;
  box-shadow: 0px 0px 17px -4px rgb(93 93 93 / 33%);
}

.blog_icon {
  display: flex;
  justify-content: space-evenly;
}

.fontawesome-btn {
  align-self: center;
}
.fontawesome-btn:hover {
  -webkit-animation-name: fontawesome-btn;
  animation-name: fontawesome-btn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fontawesome-btn {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes fontawesome-btn {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.fontawesome-btn,
i {
  font-size: 39px;
}

.count_notations {
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin: auto;
  line-height: 0.4;
}

.comments {
  padding-top: 9%;
  justify-content: space-around;
  margin: auto;
}

.blog_see_comment {
  height: 100%;
}

.blog_add_comment {
  padding-bottom: 8%;
  line-height: 0.5;
  padding-top: 3%;
}

.add-comment-label {
  margin-top: 3%;
}

.fontawesome-btn {
  border: unset;
  background-color: unset;
}

.blog-icon-btn {
  border: unset;
  background-color: unset;
}

.comment-div {
  margin-bottom: 23px;
}

.comment-user {
  line-height: 1;
}

.comment-date {
  color: grey;
}

.comment-comment {
  background-color: #80808029;
  border-radius: 8px;
}

.comment-comment-p {
  padding: 2%;
  margin: 0;
  color: grey;
  font-style: italic;
}

/* CONTACT VIEW */

.contact-container {
  width: 60%;
  height: 44em;
}

.contact_us_h3 {
  text-align: center;
}

.contact-div {
  display: flex;
  background: #fff;
  text-align: center;
  max-width: 90%;
  margin: auto;
  height: inherit;
}

.contact-div-div {
  padding: 4%;
  border: 1px solid;
  border-radius: 4px;
  background-color: #d6d6d638;
  box-shadow: 2px 0px 18px -3px #535353;
}

.form-group-contact {
  position: relative;
}

.contact-btn {
  margin-top: 2%;
}

#contactForm .fas {
  position: absolute;
  bottom: 27px;
  left: 88%;
}

#contactForm,
label {
  text-align: left;
}

#contactForm .contact_us_h3 {
  font-family: Ubuntu-Bold;
  font-weight: bold;
  font-size: 30px;
  color: #403866;
  text-transform: uppercase;
}

.smallErrorIndication {
  visibility: hidden;
}

#errorName {
  color: #e74c3c;
  visibility: hidden;
}

#successName {
  color: #167a2f;
  visibility: hidden;
}

#errorMail {
  color: #e74c3c;
  visibility: hidden;
}

#successMail {
  color: #167a2f;
  visibility: hidden;
}

#errorSubject {
  color: #e74c3c;
  visibility: hidden;
}

#successSubject {
  color: #167a2f;
  visibility: hidden;
}

/* LOGIN VIEW */
#exampleModal {
  font-family: Arial, Helvetica, sans-serif;
}

.label-login-form {
  margin-bottom: 12%;
  padding-right: 3%;
}

.button-login {
  align-self: center;
}

.not-registrer {
  padding-left: 11%;
  border-left: solid 1px #80808078;
}

.login-modal-div {
  width: 57%;
}

/* ERROR LOGIN VIEW */

.error-connection-container {
  width: 100%;
  height: 35em;
}

.error-connection-div {
  display: flex;
  background: #fff;
  text-align: center;
  max-width: 60%;
  margin: auto;
  height: inherit;
}

.error-connection-div-form {
  height: 50%;
  justify-content: center;
  display: flex;
  margin: auto;
  width: auto;
  border: 1px solid;
  border-radius: 4px;
  background-color: #d6d6d638;
  -webkit-box-shadow: 2px 0px 18px -3px #535353;
  box-shadow: 2px 0px 18px -3px #535353;
}

.error-connection-div-form,
form {
  align-self: center;
  display: flex;
  flex-flow: column;
}

.error-connection-title {
  font-family: Ubuntu-Bold;
  font-weight: bold;
  font-size: 30px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  width: 100%;
}

.error-connection-input {
  padding: 7%;
}
.error-connection-password-input {
  padding-top: 0;
}

.error-connection-input,
input {
  color: #403866;
}

.error-connection-input-btn {
  margin-top: 9%;
}

.error-connection-input-btn,
button {
  width: 95%;
  margin: auto;
  margin-top: 9%;
}

/* REGISTRER VIEW */

.registrer-content-div {
  width: 100%;
  justify-content: center;
}

.titleRegistrer {
  font-family: Ubuntu-Bold;
  font-weight: bold;
  font-size: 30px;
  color: #403866;
  text-transform: uppercase;
}

.registrer-content {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 5%;
  border: 1px solid;
  background-color: #d6d6d638;
  box-shadow: 2px 0px 18px -3px #535353;
}

.registrer-content hr {
  margin: initial;
}

.form-registrer {
  display: flex;
  justify-content: center;
  text-align: left;
}

.form-group {
  margin-bottom: 2%;
}

.form-group,
input {
  margin-top: 3%;
}

.form-group,
input,
label input {
  margin-top: 5px;
}

.registrer-btn {
  margin-bottom: 5%;
  margin-top: 4%;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.registrer-content .fas {
  left: 85%;
  bottom: 35px;
  position: relative;
}

.registrer-checkbox {
  width: 100%;
  display: flex;
}

#flexCheckDefault {
  margin-right: 5px;
  width: 35px;
}
/* PANNEL CONFIG VIEW */
.update-edito-button {
  margin-bottom: 50px;
  margin-top: 0;
}

.pannel-th-action {
  width: flex;
  width: 82px;
}

.pannel-td-action {
  width: flex;
  width: 82px;
}

.pannel-td-date {
  width: 182px;
}

.edito-div h3 {
  text-decoration: underline;
}

.edito-p {
  width: 100%;
  height: 9em;
  padding: 2%;
  border-top: 1px solid;
  background: #f2f2f2;
  margin-bottom: 2%;
  border-bottom: 1px solid #dfe2e6;
}

/* EDITO VIEW */
.add-post-submit {
  transition: all 0.4s ease-in-out;
}

.add-post-submit:hover {
  transform: scale(1.1);
}

/* ADD POST VIEW */
.title-add-post {
  padding-top: 3%;
  padding-bottom: 16%;
}
.add-post-form {
  width: 100%;
  margin-bottom: 15%;
}
.add-post-title-form {
  margin-bottom: 0;
  margin-right: 2%;
  align-self: center;
}

.add-post-label-title {
  width: 60%;
}
#add-post-input-title {
  width: 100%;
}
.add-post-img-div {
  width: 100%;
}
.add-post-img-title {
  text-align-last: left;
  width: 37%;
}

/* EDIT POST VIEW */
.container-edit-post {
  background-color: rgb(249, 251, 253);
  border-left: 1px solid rgb(227, 235, 246);
}

.title-edit-post {
  width: 100%;
  height: 10%;
  background-color: white;
}

.title-edit-post h1 {
  padding-left: 7px;
  padding-top: 1%;
  padding-bottom: 3%;
  border-bottom: 1px solid rgb(227, 235, 246);
}

.div-title-edit {
  padding: 2%;
  background-color: white;
  -webkit-box-shadow: 0px 11px 8px -15px rgb(0 0 0 / 68%);
  box-shadow: 0px 11px 8px -15px rgb(0 0 0 / 68%);
  margin-top: 2%;
}

.edit-img-text {
  display: flex;
  width: 100%;
}

.img-miniature-edit {
  display: flex;
  flex-direction: column;
  margin: 5%;
  padding: 3%;
  background-color: white;
  -webkit-box-shadow: 0px 11px 8px -15px rgb(0 0 0 / 68%);
  box-shadow: 0px 11px 8px -15px rgb(0 0 0 / 68%);
}

.add-post-text {
  margin: 2%;
  display: flex;
  display: table-row-group;
}

.add-post-text-title {
  margin-bottom: 5%;
  height: 2em;
}

.add-post-img-title {
  margin-bottom: 7%;
  height: 2em;
  width: 100%;
}

.edit-post-text-div {
  padding: 3%;
  margin: 5%;
  background-color: white;
  -webkit-box-shadow: 0px 11px 8px -15px rgb(0 0 0 / 68%);
  box-shadow: 0px 11px 8px -15px rgb(0 0 0 / 68%);
}

.img-get-miniature-edit {
  height: 11em;
  transition: all 0.4s ease-in-out;
}

.img-get-miniature-edit:hover {
  transform: scale(1.1);
}

.online {
  height: 5rem;
  display: flex;
  margin: auto;
  align-content: space-around;
  background-color: white;
  -webkit-box-shadow: 0px 11px 8px -15px rgb(0 0 0 / 68%);
  box-shadow: 0px 11px 8px -15px rgb(0 0 0 / 68%);
  width: 32%;
  min-width: 240px;
}

.form-check {
  width: 50%;
  align-self: center;
  width: 10em;
  margin-left: 9%;
}

.edit-post-submit {
  margin-top: 20px;
  width: 32%;
  min-width: 240px;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}

.edit-post-submit:hover {
  transform: scale(1.1);
}

.addPostImg {
  width: 20%;
  border: 1px solid #e6edf7;
  margin-left: 2%;
}

.addPostImgLogo {
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.addPostImgLogo:hover {
  transform: scale(1.1);
}

.addPostImgTitle {
  padding-top: 1%;
  padding-bottom: 3%;
  border-bottom: 1px solid rgb(227, 235, 246);
  background-color: white;
  padding-left: 7px;
}

.edit-post-img-and-description {
  margin-top: 16px;
}

/* IMG AND DESCRIPTION VIEW */
.img-and-description-div {
  display: flex;
  margin-bottom: 3px;
}

.img-and-description-div:hover {
  background-color: #eaecee;
}

.img-and-description-div-img {
  width: 20%;
}

.img-and-description-div-p {
  width: 60%;
  padding-left: 10px;
  align-self: center;
}

.img-and-description-div-delete {
  margin: auto;
  transition: all 0.4s ease-in-out;
}

.img-and-description-div-delete:hover {
  transform: scale(1.1);
}

.delete-button {
  text-align-last: right;
}

/* RGPD VIEW */
#legals {
  margin: auto;
}

/* CHANGE STYLE */
/* Winter Style */
body.cold {
  font-family: "Vonique 64", Arial, Helvetica, sans-serif;
  color: #8ac3de;
  background-color: #02101b;
}
body.cold #author_name {
  font-family: Neolatina-gnx5, Arial, Helvetica, sans-serif;
  color: white;
}
body.cold i {
  color: #8ac3de;
}

/* Temperate Style */
body.temperate {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: #f4ece8;
}
body.temperate #author_name {
  font-family: "Fredericka", Arial, Helvetica, sans-serif;
  color: #4a4746;
}
body.temperate i {
  color: #4a4746;
}

/* Summer Style */
body.summer {
  font-family: "Creative Lettering", Arial, Helvetica, sans-serif;
  color: #4a4746;
  background-color: white;
}
body.temperate #author_name {
  font-family: cursive, "Courier New", Courier, monospace;
  color: #4a4746;
}
body.summer i {
  color: rgb(253, 147, 109);
}

/* 
 */

body.hide {
  display: none;
}
